/dts-v1/;

/ {
	model = "Renesas evaluation board for R-Car X5H";
	compatible = "arm,rtsm_ve,aemv8a", "arm,vexpress";
	#address-cells = <2>;
	#size-cells = <2>;

	interrupt-parent = <&gic>;

	aliases {
		serial0 = &scif0;
		serial1 = &scif1;
		serial2 = &scif3;
		serial3 = &scif4;
		serial4 = &hscif0;
		serial5 = &hscif1;
		serial6 = &hscif2;
		serial7 = &hscif3;
		serial8 = &pl011;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;
		
		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x400>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x500>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@600 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x600>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@700 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x700>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10000>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10400>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10500>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10600 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10600>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@10700 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10700>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20000>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20400>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20500>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20600 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20600>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@20700 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20700>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30000>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30200>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30300>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30400>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30500>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30600 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30600>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
		cpu@30700 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x30700>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x7ffff00>;
		};
	};

	memory@48000000 {
		device_type = "memory";
		reg = <0x00 0x48000000 0x00 0x78000000>;
	};

	memory@1080000000 {
		device_type = "memory";
		reg = <0x10 0x80000000 0x2 0x80000000>;
	};

	chosen {
		stdout-path = "serial8:38400n8";
		bootargs = "console=dtuart dtuart=/uart@e5c00000 dom0_mem=512M dom0_max_vcpus=2 xsm=flask flask=permissive bootscrub=0";
		xen,dom0-bootargs = "root=/dev/ram0 console=hvc0 ignore_loglevel";

		modules {
			#address-cells = <0x02>;
			#size-cells = <0x02>;

			module@1 {
				compatible = "xen,linux-zimage", "xen,multiboot-module";
				reg = <0x00 0x7a000000 0x00 0x2000000>;
			};

			module@2 {
				compatible = "xen,xsm-policy", "xen,multiboot-module";
				reg = <0x00 0x7c000000 0x00 0x10000>;
			};
		};
	};

	virtio_block@c000000 {
		compatible = "virtio,mmio";
		reg = <0x00 0xc000000 0x00 0x10000>;
		interrupts = <0x00 0x03 0x04>;
		status = "okay";
	};

	virtio_block@e5800000 {
		compatible = "virtio,mmio";
		reg = <0x00 0xe5800000 0x00 0x10000>;
		interrupts = <0x00 0x3be 0x04>;
		status = "okay";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <0x1 0xd 0xff08 0x1 0xe 0xff08 0x1 0xb 0xff08 0x1 0xa 0xff08>;
	};

	gic: interrupt-controller@38000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <0x03>;
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;
		interrupt-controller;
		reg = <0x0 0x38000000 0x0 0x10000>, <0x0 0x38080000 0x0 0x4080000>, <0x0 0x0 0x0 0x2000>, <0x0 0x10000 0x0 0x2000>, <0x0 0x20000 0x0 0x2000>;
		interrupts = <0x01 0x09 0xff04>;
		phandle = <0x14>;

		msi-controller@38040000 {
			compatible = "arm,gic-v3-its";
			msi-controller;
			#msi-cells = <0x01>;
			reg = <0x00 0x38040000 0x00 0x20000>;
			phandle = <0x2f>;
		};
	};

	sysreg: sysreg@e5c11000 {
		compatible = "arm,vexpress-sysreg";
		reg = <0x0 0xe5c11000 0x0 0x1000>;
	};

	smmu_imn: iommu@f8000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xf8000000 0x0 0x200000>;
		interrupts = <0 107 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_gpu: iommu@f8600000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xf8600000 0x0 0x200000>;
		interrupts = <0 109 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_hscn: iommu@f8800000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xf8800000 0x0 0x200000>;
		interrupts = <0 103 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_vio0: iommu@f9000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xf9000000 0x0 0x800000>;
		interrupts = <0 115 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_vio1: iommu@f9800000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xf9800000 0x0 0x800000>;
		interrupts = <0 118 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_dsp: iommu@fa000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfa000000 0x0 0x800000>;
		interrupts = <0 102 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_rt: iommu@fb000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfb000000 0x0 0x800000>;
		interrupts = <0 114 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_scp: iommu@fb800000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfb800000 0x0 0x800000>;
		interrupts = <0 120 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_ims: iommu@fc000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfc000000 0x0 0x200000>;
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_vips: iommu@fc200000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfc200000 0x0 0x200000>;
		interrupts = <0 117 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_npu1: iommu@fc400000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfc400000 0x0 0x200000>;
		interrupts = <0 110 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_hscs_ucie: iommu@fcc00000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfcc00000 0x0 0x200000>;
		interrupts = <0 104 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};
	
	smmu_hscs_pcie6: iommu@fce00000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfce00000 0x0 0x200000>;
		interrupts = <0 105 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_pere: iommu@fd000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfd000000 0x0 0x800000>;
		interrupts = <0 53 4>; //temporary based-on current VDK version
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_perw: iommu@fd800000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfd800000 0x0 0x800000>;
		interrupts = <0 112 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_mp0: iommu@fe000000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfe000000 0x0 0x800000>;
		interrupts = <0 108 4>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	smmu_mp1: iommu@fe800000 {
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfe800000 0x0 0x800000>;
		interrupt-names = "combined";
		#iommu-cells = <1>;
		dma-coherent;
	};

	extal_clk: extal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <16666666>;
	};
	
	extalr_clk: extalr {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <32768>;
	};
	
	cpg: clock-controller@ff980000 {
		compatible = "renesas,rcar-gen5-cpg-mssr";
		reg = <0 0xff98000 0 0x9000>;
		clocks = <&extal_clk>, <&extalr_clk>;
		clock-names = "extal", "extalr";
		#clock-cells = <2>;
		#power-domain-cells = <0>;
		#reset-cells = <1>;
	};

	/* pfc_gen5.dts.txt */
	pfc: pin-controller@c0400000 {
		compatible = "renesas,pfc-r8a78000";
		reg = <0 0xc1080000 0 0x104>,
			  <0 0xc1080800 0 0x104>,
			  <0 0xc1081000 0 0x104>,
			  <0 0xc0800000 0 0x104>,
			  <0 0xc0800800 0 0x104>,
			  <0 0xc0400000 0 0x104>,
			  <0 0xc0400800 0 0x104>,
			  <0 0xc0401000 0 0x104>,
			  <0 0xc0401800 0 0x104>,
			  <0 0xc9b00000 0 0x104>,
			  <0 0xc9b00800 0 0x104>;
		xen,passthrough;
	};
	/* pfc_gen5.dts.txt end */

	fck: fck {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <66560000>;
		clock-output-names = "fck";
	};
	
	hfck: hfck {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <266240000>;
		clock-output-names = "hfck";
	};

	sysc: system-controller@e6184000 {
		compatible = "renesas,r8a78000-sysc";
		reg = <0 0xe6184000 0 0x4000>;
		#power-domain-cells = <1>;
	};

	rst: reset-controller@c6490000 {
		compatible = "renesas,r8a779f0-rst";
		reg = <0 0xc6490000 0 0x4000>;
	};

	/* display_gen5.dts.txt */
	dummy_clk: dummy_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		xen,passthrough;
	};

	vcon_dclk: vcon_dclk {
		compatible = "fixed-clock";
		clock-frequency = <600000000>;
		#clock-cells = <0>;
		xen,passthrough;
	};

	fcpvd0: fcp@c5010000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5010000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0x80000>;
		xen,passthrough;
	};

	fcpvd1: fcp@c5011000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5011000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0x90000>;
		xen,passthrough;
	};

	fcpvd2: fcp@c5012000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5012000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0xA0000>;
		xen,passthrough;
	};

	fcpvd3: fcp@c5013000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5013000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0xB0000>;
		xen,passthrough;
	};

	fcpvd4: fcp@c5014000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5014000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio1 0x80000>;
		xen,passthrough;
	};

	fcpvd5: fcp@c5015000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5015000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio1 0x90000>;
		xen,passthrough;
	};

	fcpvd6: fcp@c5016000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5016000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio1 0xA0000>;
		xen,passthrough;
	};

	fcpvd7: fcp@c5017000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5017000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio1 0xB0000>;
		xen,passthrough;
	};

	fcpvd8: fcp@c5018000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5018000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0xC0000>;
		xen,passthrough;
	};

	fcpvd9: fcp@c5019000 {
		compatible = "renesas,fcpv";
		reg = <0 0xc5019000 0 0x200>;
		clocks = <&dummy_clk>;
		iommus = <&smmu_vio0 0xD0000>;
		xen,passthrough;
	};

	vspd0: vsp@c4800000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4800000 0 0x8000>;
		interrupts = <0 623 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd0>;
		xen,passthrough;
	};

	vspd1: vsp@c4808000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4808000 0 0x8000>;
		interrupts = <0 624 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd1>;
		xen,passthrough;
	};

	vspd2: vsp@c4810000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4810000 0 0x8000>;
		interrupts = <0 625 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd2>;
		xen,passthrough;
	};

	vspd3: vsp@c4818000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4818000 0 0x8000>;
		interrupts = <0 626 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd3>;
		xen,passthrough;
	};

	vspd4: vsp@c4820000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4820000 0 0x8000>;
		interrupts = <0 627 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd4>;
		xen,passthrough;
	};

	vspd5: vsp@c4828000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4828000 0 0x8000>;
		interrupts = <0 628 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd5>;
		xen,passthrough;
	};

	vspd6: vsp@c4830000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4830000 0 0x8000>;
		interrupts = <0 629 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd6>;
		xen,passthrough;
	};

	vspd7: vsp@c4838000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4838000 0 0x8000>;
		interrupts = <0 630 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd7>;
		xen,passthrough;
	};

	vspd8: vsp@c4840000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4840000 0 0x8000>;
		interrupts = <0 631 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd8>;
		xen,passthrough;
	};

	vspd9: vsp@c4848000 {
		compatible = "renesas,vsp2";
		reg = <0 0xc4848000 0 0x8000>;
		interrupts = <0 632 4>;
		clocks = <&dummy_clk>;
		renesas,fcp = <&fcpvd9>;
		xen,passthrough;
	};

	dp-con0 {
		compatible = "dp-connector";
		xen,passthrough;
		port {
			dp_con0_out: endpoint {
				remote-endpoint = <&rcar_dw_dp0_out>;
			};
		};
	};

	dp-con1 {
		compatible = "dp-connector";
		xen,passthrough;
		port {
			dp_con1_out: endpoint {
				remote-endpoint = <&rcar_dw_dp1_out>;
			};
		};
	};

	dp-con2 {
		compatible = "dp-connector";
		xen,passthrough;
		port {
			dp_con2_out: endpoint {
				remote-endpoint = <&rcar_dw_dp2_out>;
			};
		};
	};

	dp0: dp@c5400000 {
		compatible = "renesas,r8a78000-dw-dp-dummy";
		channels = <4>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dw_dp00_in: endpoint {
					remote-endpoint = <&vcon_out_dp00>;
				};
			};

			port@1 {
				reg = <1>;
				dw_dp01_in: endpoint {
					remote-endpoint = <&vcon_out_dp01>;
				};
			};

			port@2 {
				reg = <2>;
				dw_dp02_in: endpoint {
					remote-endpoint = <&vcon_out_dp02>;
				};
			};

			port@3 {
				reg = <3>;
				dw_dp03_in: endpoint {
					remote-endpoint = <&vcon_out_dp03>;
				};
			};

			port@4 {
				reg = <4>;
				rcar_dw_dp0_out: endpoint {
					remote-endpoint = <&dp_con0_out>;
				};
			};
		};
	};

	dp1: dp@c5500000 {
		compatible = "renesas,r8a78000-dw-dp-dummy";
		channels = <4>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dw_dp10_in: endpoint {
					remote-endpoint = <&vcon_out_dp10>;
				};
			};

			port@1 {
				reg = <1>;
				dw_dp11_in: endpoint {
					remote-endpoint = <&vcon_out_dp11>;
				};
			};

			port@2 {
				reg = <2>;
				dw_dp12_in: endpoint {
					remote-endpoint = <&vcon_out_dp12>;
				};
			};

			port@3 {
				reg = <3>;
				dw_dp13_in: endpoint {
					remote-endpoint = <&vcon_out_dp13>;
				};
			};

			port@4 {
				reg = <4>;
				rcar_dw_dp1_out: endpoint {
					remote-endpoint = <&dp_con1_out>;
				};
			};
		};
	};

	dp2: dp@c5600000 {
		compatible = "renesas,r8a78000-dw-dp-dummy";
		channels = <2>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dw_dp20_in: endpoint {
					remote-endpoint = <&vcon_out_dp20>;
				};
			};

			port@1 {
				reg = <1>;
				dw_dp21_in: endpoint {
					remote-endpoint = <&vcon_out_dp21>;
				};
			};

			port@2 {
				reg = <2>;
				rcar_dw_dp2_out: endpoint {
					remote-endpoint = <&dp_con2_out>;
				};
			};
		};
	};

	vcon_group0: vcon@c5020000 {
		compatible = "renesas,r8a78000-vcon";
		reg = <0 0xc5020000 0 0x1000>,
			<0 0xc5021000 0 0x1000>,
			<0 0xc5022000 0 0x1000>,
			<0 0xc5023000 0 0x1000>;
		interrupts = <0 665 4>, <0 666 4>, <0 667 4>, <0 668 4>;
		interrupt-names = "ch0", "ch1", "ch2", "ch3";
		clocks = <&vcon_dclk>, <&vcon_dclk>, <&vcon_dclk>, <&vcon_dclk>;
		clock-names = "dclkin.0", "dclkin.1", "dclkin.2", "dclkin.3";
		channels = <4>;
		renesas,vsps = <&vspd0 0>, <&vspd1 0>, <&vspd2 0>, <&vspd3 0>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
					reg = <0>;
					vcon_out_dp00: endpoint {
							remote-endpoint = <&dw_dp00_in>;
					};
			};
			port@1 {
					reg = <1>;
					vcon_out_dp01: endpoint {
							remote-endpoint = <&dw_dp01_in>;
					};
			};

			port@2 {
				reg = <2>;
				vcon_out_dp02: endpoint {
					remote-endpoint = <&dw_dp02_in>;
				};
			};

			port@3 {
				reg = <3>;
				vcon_out_dp03: endpoint {
					remote-endpoint = <&dw_dp03_in>;
				};
			};
		};
	};

	vcon_group1: vcon@c5024000 {
		compatible = "renesas,r8a78000-vcon";
		reg = <0 0xc5024000 0 0x1000>,
			<0 0xc5025000 0 0x1000>,
			<0 0xc5026000 0 0x1000>,
			<0 0xc5027000 0 0x1000>;
		interrupts = <0 669 4>, <0 670 4>, <0 671 4>, <0 672 4>;
		interrupt-names = "ch0", "ch1", "ch2", "ch3";
		clocks = <&vcon_dclk>, <&vcon_dclk>, <&vcon_dclk>, <&vcon_dclk>;
		clock-names = "dclkin.0", "dclkin.1", "dclkin.2", "dclkin.3";
		channels = <4>;
		renesas,vsps = <&vspd4 0>, <&vspd5 0>, <&vspd6 0>, <&vspd7 0>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				vcon_out_dp10: endpoint {
						remote-endpoint = <&dw_dp10_in>;
				};
			};

			port@1 {
				reg = <1>;
				vcon_out_dp11: endpoint {
						remote-endpoint = <&dw_dp11_in>;
				};
			};

			port@2 {
				reg = <2>;
				vcon_out_dp12: endpoint {
						remote-endpoint = <&dw_dp12_in>;
				};
			};

			port@3 {
				reg = <3>;
				vcon_out_dp13: endpoint {
					remote-endpoint = <&dw_dp13_in>;
				};
			};
		};
	};

	vcon_group2: vcon@c5028000 {
		compatible = "renesas,r8a78000-vcon";
		reg = <0 0xc5028000 0 0x1000>,
			  <0 0xc5029000 0 0x1000>;
		interrupts = <0 673 4>, <0 674 4>;
		interrupt-names = "ch0", "ch1";
		clocks = <&vcon_dclk>, <&vcon_dclk>;
		clock-names = "dclkin.0", "dclkin.1";
		channels = <2>;
		renesas,vsps = <&vspd8 0>, <&vspd9 0>;
		xen,passthrough;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				vcon_out_dp20: endpoint {
						remote-endpoint = <&dw_dp20_in>;
				};
			};

			port@1 {
				reg = <1>;
				vcon_out_dp21: endpoint {
						remote-endpoint = <&dw_dp21_in>;
				};
			};
		};
	};
	/* display_gen5.dts.txt end */
	
	brg_int: brg_int {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <266240000>;
		clock-output-names = "brg_int";
	};
	
	scif_clk: scif_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "scif_clk";
	};

	scif0: serial@c0700000 {
		compatible = "renesas,scif-x5h", "renesas,rcar-gen5-scif", "renesas,scif";
		reg = <0 0xc0700000 0 0x40>;
		interrupts = <0 433 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	scif1: serial@c0704000 {
		compatible = "renesas,scif-x5h", "renesas,rcar-gen5-scif", "renesas,scif";
		reg = <0 0xc0704000 0 0x40>;
		interrupts = <0 433 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	scif3: serial@c0708000 {
		compatible = "renesas,scif-x5h", "renesas,rcar-gen5-scif", "renesas,scif";
		reg = <0 0xc0708000 0 0x40>;
		interrupts = <0 433 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	scif4: serial@c070c000 {
		compatible = "renesas,scif-x5h", "renesas,rcar-gen5-scif", "renesas,scif";
		reg = <0 0xc070c000 0 0x40>;
		interrupts = <0 433 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	hscif0: serial@c0710000 {
		compatible = "renesas,hscif-x5h", "renesas,rcar-gen5-hscif", "renesas,hscif";
		reg = <0 0xc0710000 0 0x60>;
		interrupts = <0 434 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	hscif1: serial@c0714000 {
		compatible = "renesas,hscif-x5h", "renesas,rcar-gen5-hscif", "renesas,hscif";
		reg = <0 0xc0714000 0 0x60>;
		interrupts = <0 434 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	hscif2: serial@c0718000 {
		compatible = "renesas,hscif-x5h", "renesas,rcar-gen5-hscif", "renesas,hscif";
		reg = <0 0xc0718000 0 0x60>;
		interrupts = <0 434 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	hscif3: serial@c071c000 {
		compatible = "renesas,hscif-x5h", "renesas,rcar-gen5-hscif", "renesas,hscif";
		reg = <0 0xc071c000 0 0x60>;
		interrupts = <0 434 4>;
		clocks = <&scif_clk>, <&scif_clk>, <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
	};

	sysclk: sysclk {
		compatible = "fixed-clock";
		#clock-cells = <0x00>;
		clock-frequency = <0x5f5e100>;
		clock-output-names = "sysclk";
	};

	pl011: uart@e5c00000 {
		compatible = "arm,pl011", "arm,primecell";
		reg = <0x00 0xe5c00000 0x00 0x1000>;
		interrupts = <0 13 4>;
		clock-names = "uartclk", "apb_pclk";
		clocks = <&sysclk>, <&sysclk>;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
		xen,passthrough;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		xen,passthrough;
	};

	mmc_ref_clk: mmc_ref_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
		clock-output-names = "mmc";
		xen,passthrough;
	};

	mmc0: mmc@c0880000 {
		compatible = "renesas,rcar-gen5-sdhi";
		reg = <0 0xc0880000 0 0x2000>;
		interrupts = <0 894 4>;
		clocks = <&mmc_ref_clk>;
		max-frequency = <200000000>;
		vmmc-supply = <&reg_3p3v>;
		vqmmc-supply = <&reg_1p8v>;
		mmc-hs200-1_8v;
		mmc-hs400-1_8v;
		bus-width = <8>;
		no-sd;
		no-sdio;
		non-removable;
		full-pwr-cycle-in-suspend;
		iommus = <&smmu_pere 0x20000>;
		xen,passthrough;
	};
};
